streamlit
streamlit-pdf
langchain
langgraph
langchain-anthropic
langchain-community
ddgs
langchain-tavily
tavily-python
python-dotenv
langchain_mcp_adapters
chromadb
xhtml2pdf
bs4
sqlalchemy
sqlalchemy_utils
psycopg2-binary
playwright
patchright
pandas
